<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#e74c3c">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="baidu-site-verification" content="yyn7hlbovq" />
    <meta name="google-site-verification" content="jyX09whXzEYYu5Jy1RhZSIPlrs4GjaW--LkXFGMGeTE" />
    {{!-- Brand icon --}}
    <link rel="apple-touch-icon" sizes="57x57" href="{{asset "favicon/apple-touch-icon-57x57.png"}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{asset "favicon/apple-touch-icon-60x60.png"}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset "favicon/apple-touch-icon-72x72.png"}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset "favicon/apple-touch-icon-76x76.png"}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset "favicon/apple-touch-icon-114x114.png"}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset "favicon/apple-touch-icon-120x120.png"}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{asset "favicon/apple-touch-icon-144x144.png"}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset "favicon/apple-touch-icon-152x152.png"}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset "favicon/apple-touch-icon-180x180.png"}}">
    <link rel="icon" type="image/png" href="{{asset "favicon/favicon-32x32.png"}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{asset "favicon/favicon-96x96.png"}}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{asset "favicon/favicon-16x16.png"}}" sizes="16x16">
    <link rel="mask-icon" href="{{asset "favicon/safari-pinned-tab.svg"}}" color="#5bbad5">
    <link rel="shortcut icon" href="{{asset "favicon/favicon.ico"}}">
    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{!-- The blog navigation links --}}
    {{navigation}}

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The tiny footer at the very bottom --}}
        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a>. Theme by <a href="https://github.com/qianduan/swiftnote/">swiftnote</a></a></section>
        </footer>
    </div>
    <script type="text/javascript" src="{{asset "js/jquery.js"}}"></script>
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script>
{{!-- push data to Baidu, if you don't need, please remove this section --}}    
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

</body>
</html>
