<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{code}} _ {{message}}</title>
	<meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#e74c3c">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" href="{{asset "favicon/favicon.ico"}}">
	<style>
		html,body{
			margin:0;
			padding: 0;
		}
		body{
			background-color: #fdf6e3;
		}
		.content{
			width: 600px;
			margin:200px auto;
		}
		a,a:hover{
			text-decoration: none;
		}
		/*
 Solarized Color Schemes originally by Ethan Schoonover
 http://ethanschoonover.com/solarized

 Ported for PrismJS by Hector Matos
 Website: https://krakendev.io
 Twitter Handle: https://twitter.com/allonsykraken)
*/

/*
SOLARIZED HEX
--------- -------
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
*/

code,
pre {
	color: #657b83; /* base00 */
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre::-moz-selection, pre ::-moz-selection,
code::-moz-selection, code ::-moz-selection {
	background: #073642; /* base02 */
}

pre::selection, pre ::selection,
code::selection, code ::selection {
	background: #073642; /* base02 */
}

/* Code blocks */
pre {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #93a1a1; /* base1 */
}

.token.punctuation {
	color: #586e75; /* base01 */
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #268bd2; /* blue */
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
	color: #2aa198; /* cyan */
}

.token.entity {
	color: #657b83; /* base00 */
	background: #eee8d5; /* base2 */
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #859900; /* green */
}

.token.function {
	color: #b58900; /* yellow */
}

.token.regex,
.token.important,
.token.variable {
	color: #cb4b16; /* orange */
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

@media only screen and (max-width: 500px) {
	.content{
		width: 90%
	}
}

	</style>
</head>
<body>
<div class="content">
<pre><code>
<span class="token keyword">override</span> <span class="token function">func</span> request<span class="token punctuation">(){</span>
	<span class="token keyword">if let</span> status <span class="token operator">==</span> <span class="token string">"{{code}}"</span> <span class="token punctuation">{</span>
		<span class="token function">print</span><span class="token punctuation">(</span><span class="token punctuation">"</span><span class="token variable">\(status)</span> {{message}} <span class="token punctuation">"</span><span class="token punctuation">)</span>
	
		<span class="token function">return</span> <a href="//www.swiftnote.io" title="Back Home"><span class="token variable">swiftnote.io</span></a>
	<span class="token punctuation">}</span>
<span class="token punctuation">}</span>
</code></pre>
</div>
</body>
</html>